click==8.3.1
-e git+ssh://git@github.com/grokalmighty/Profiler.git@d8f48a45b31c687f527f7fd674d7d0895214e69a#egg=envprof
iniconfig==2.3.0
packaging==26.0
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.2
PyYAML==6.0.3
